<div id='aboutBackground'>
	<div class='col-xs-4 col-xs-offset-1' style='height:50vh;margin-top:20vh;'>
		<img src='img/small_biz.png' style='width:20vw; height:auto; margin-top:5vh;'>
	</div>
	<div class='col-xs-6' style='height:60vh; margin-top:20vh;'>
		<div id='is_your_biz_ready' style='margin-top:5vh;'>
			<h1 style='font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;'>Supporting Small Business</h1>
				<p style='font-size:3.3vh; font-weight:bold;'>Our staff at Hubadata believe in the power of local collaboration. Whether you're an average Joe, a Mom & Pop resturant or a niche artisan shop, we want to connect you! As globalization & technology both widen and close the gap between people, it can be hard for the little guys to compete. But the beauty of internet technology is that ANYONE can be connected, and we're here to help.</p>
		</div>
	</div>

	<div class='col-xs-6 col-xs-offset-1' style='height:40vh;'>
		<div id='mobile_trend' style='margin-top:7vh;'>
			<h1 style='font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;'>Canadian Pride</h1>
			<p style='font-size:3.3vh; font-weight:bold;'>Local businesses are best suited to meet the custom needs of local consumers. As a Canadian startup focusing on local business, we take pride in strengthening the Canadian economy and supporting a community marketplace.</p><br/>
			
		</div>
	</div>
	<div class='col-xs-5' style='height:60vh;'>
		<img src='img/maple_leaf.png' style='width:20vw; height:auto; margin-top:5vh;margin-left:3vw;'>
	</div>
</div>