<div id='appBackground'>
	
	<div class='col-xs-4 col-xs-offset-1' style='height:50vh;margin-top:20vh;'>
		<img src='img/local_biz.png' style='width:20vw; height:auto; margin-top:5vh;'>
	</div>
	<div class='col-xs-6' style='height:50vh; margin-top:20vh;'>
		<div id='is_your_biz_ready' style='margin-top:5vh;'>
			<h1 style='font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;'>Relevant Content</h1>
				<p style='font-size:3.3vh; font-weight:bold;'>If you're passing by a small business regularly, say a resturant or grocery store, there might be some special deals waiting for you! Petramid is a location aware app that gives you sweeter deals from the familiar local businesses surrounding you! Maybe they'll be enough to keep you coming back!</p>
		</div>
	</div>

	<div class='col-xs-6 col-xs-offset-1' style='height:60vh;'>
		<div id='mobile_trend' style='margin-top:7vh;'>
			<h1 style='font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;'>Order Placement & Queues</h1>
			<p style='font-size:3.3vh; font-weight:bold;'>With the Petramid Smartphone app, users can place orders directly from their phone at anyplace, anytime. When it's ready, they'll be able to pick it up on the way home.</p><br/>
			<p style='font-size:3.3vh; font-weight:bold;'>Our new queue system also makes it easy for you as a business owner to organize incoming requests. Orders placed through Petramid are automatically filed to make your job simplier, cleaner and more effective.</p>
		</div>
	</div>
	<div class='col-xs-5' style='height:60vh;'>
		<img src='img/phones.png' style='width:25vw; height:auto; margin-top:15vh;'>
	</div>

</div>