<div id='homeBackground'>

<!--TO SELECT FROM AVAILABLE BACKGROUNDS
<select ng-model='background' ng-options='backimg.name for backimg in backimages' ng-change='backimg()'>
	<option></option>
	<h4>{{background.name}}</h4>
</select>
-->

<!-- TO INPUT A BACKGROUND URL
<div class='col-xs-8 col-xs-offset-2'>
	<div style='margin-top: 15%;'>
	Background Image URL:<input type='text' name='Background Image URL' ng-model='background'>
	</div>
</div>
-->



	<div class='col-xs-4 col-xs-offset-1' style='height:50vh;margin-top:20vh;'>
		<img src='img/smartphones.png' style='width:20vw; height:auto; margin-top:5vh;'>
	</div>
	<div class='col-xs-6' style='height:50vh; margin-top:20vh;'>
		<div id='is_your_biz_ready' style='margin-top:5vh;'>
			<h1 style='font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;'>Business is endless</h1>
				<p style='font-size:3.3vh; font-weight:bold;'>It's easy to feel comfortable with the pace your business is going, but that shouldn't stop growth. Everyday there are thousands of potential customers passing by your business. What's stopping them from engaging?</p>
		</div>
	</div>

	<div class='col-xs-6 col-xs-offset-1' style='height:60vh;'>
		<div id='mobile_trend'>
			<h1 style='font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;'>We Blur The Lines</h1>
			<p style='font-size:3.3vh; font-weight:bold;'>Let's skip the step in between advertising and sales. Hubadata makes GPS-enabled apps that engage users directly from their Smartphone device so they can set an appointment or place an order right away!</p><br/>
			<p style='font-size:3.3vh; font-weight:bold;'>It's simple to use and could make all the difference to your business. Take the risk-free chance and join the network today!</p>
		</div>
	</div>
	<div class='col-xs-5' style='height:60vh;'>
		<img src='img/location.png' style='width:25vw; height:auto; margin-top:15vh;'>
	</div>


</div>