<div id='partnershipBackground'>
	<div class='col-xs-4 col-xs-offset-1' style='height:50vh;margin-top:20vh;'>
		<img src='img/billboard.png' style='width:20vw; height:auto; margin-top:5vh;'>
	</div>
	<div class='col-xs-6' style='height:50vh; margin-top:20vh;'>
		<div id='is_your_biz_ready' style='margin-top:5vh;'>
			<h1 style='font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;'>Direct Advertising</h1>
				<p style='font-size:3.3vh; font-weight:bold;'>Why let Google decide what is yours to present? Your (potential) regulars should view the content you choose to show, using Petramid's direct flyer posting. Customers who pass by your business often will pop up on your dashboard. What you choose to show is up to you!</p>
				<div id='contactinfo'>Contact Us at partnerships@hubadata.ca</div>
		</div>
	</div>

	<div class='col-xs-6 col-xs-offset-1' style='height:60vh;'>
		<div id='mobile_trend'>
			<h1 style='font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;'>Super Easy</h1>
			<p style='font-size:3.3vh; font-weight:bold;'>Seriously, it's just post & review. With the relevant information, you can engage in any way you want!</p><br/>
			<h1 style='font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;'>No Risk</h1>
			<p style='font-size:3.3vh; font-weight:bold;'>Seriously, what do you have to lose? It can be a game-changer knowing who could potentially be a repeat customer. Local consumers are what keeps small business alive, so join the community today!</p>
		</div>
	</div>
	<div class='col-xs-5' style='height:60vh;'>
		<img src='img/one_click.png' style='width:20vw; height:auto; margin-top:15vh;'>
	</div>
</div>